In [1]:
import numpy as np
import pandas as pd

# Aux functions

Created this file because I forgot to commit the last file I\'ve used

Target: implement the MARSS Framework on Banbura Modugno 2010.


# MARSS

$$ x_t = B_t x_{t-1} + u_t + C_t c_t + w_t, \qquad where \quad w_t \sim MVN(0,Q_t) \qquad (1)$$
$$ y_t = Z_t x_t + a_t + D_t d_t + v_t, \qquad where v_t \sim MVN(0,R_t) \qquad (2)$$

* $x$ is a $m \times T$ matrix
* $w$ is $m \times T$ 
* $y$ is $n \times T$ 

Thus:

* m is the number of factors
* T is the sample length
* n is the total number of variables

# Banbura Modugno 2010

The first equation from Banbura Modugno corresponds to (2) and the second equation corresponds to (1)

![Banbura Modugno 2010](BanburaModugno.png)

# Dimensions

Lets build an example data set to work with

In [5]:
monthlyData = pd.DataFrame(np.random.rand(2,3),columns=["m1","m2", "m3"])
monthlyData

      data1     data2     data3
0  0.053117  0.429869  0.904477
1  0.255662  0.869085  0.296645

In [6]:
quarterlyData = pd.DataFrame(np.random.rand(2,2),columns=["q1","q2",])
quarterlyData

         q1        q2
0  0.972480  0.440959
1  0.307673  0.176888

Mapping our dimensions:

In [11]:
T = monthlyData.shape[0]
T

2

In [13]:
n = (monthlyData.columns | quarterlyData.columns).shape[0]
n

5

In [33]:
nm = (monthlyData.columns).shape[0]
nm

3

In [34]:
nq = (quarterlyData.columns).shape[0]
nq

2

The number of factors is arbitrarily chosen to be 1. But since we use 4 lags of the factor and 4 lags of the quarterly error term the state vector contain 11 variables to be estimated.

In [21]:
m = 11
m

11

# Data Matrices

$y$ which is $n \times T$ will be the vertical stack of the monthly and quarterly variables

In [15]:
quarterlyData

         q1        q2
0  0.972480  0.440959
1  0.307673  0.176888

In [16]:
monthlyData

      data1     data2     data3
0  0.053117  0.429869  0.904477
1  0.255662  0.869085  0.296645

In [18]:
y = pd.concat([quarterlyData.transpose(), monthlyData.transpose()], axis=0)
y

              0         1
q1     0.972480  0.307673
q2     0.440959  0.176888
data1  0.053117  0.255662
data2  0.429869  0.869085
data3  0.904477  0.296645

Verification:

In [20]:
(y.shape[0] == n) and (y.shape[1] == T)

True

# Coefficients

## Z Matrix

The $Z$ matrix is a $n \times m$

The matrix we see on Banbura and Modugno is clearly n x m

Firt we have to generate a vector of m different coefficients named by strings. Which will be Banbura's $\Lambda_M$

In [67]:
coefs = []
for el in monthlyData.columns:
    coefs.append(el + "_loading")
lambdaM = pd.DataFrame(coefs)

To complete the first line of their matrix:

In [68]:
line1 = lambdaM
line1 = pd.concat([line1, pd.DataFrame(np.zeros((nm,4)))], axis=1)
line1 = pd.concat([line1, pd.DataFrame(np.ones((nm,1)))], axis=1)
line1 = pd.concat([line1, pd.DataFrame(np.zeros((nm,5)))], axis=1)

line1

               0    0    1    2    3    0    0    1    2    3    4
0  data1_loading  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1  data2_loading  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2  data3_loading  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0

we are not yet sure how to implement linear restrictions on parameters. Fow now we are assuming that we should use a string like "2*a"

We will first create lambdaQ

In [69]:
coefs = []
for el in quarterlyData.columns:
    coefs.append(el + "_loading")
lambdaQ = pd.DataFrame(coefs)

line2 = lambdaQ
line2 = pd.concat([line2, "2*" + lambdaQ], axis=1)
line2 = pd.concat([line2, "3*" + lambdaQ], axis=1)
line2 = pd.concat([line2, "2*" + lambdaQ], axis=1)
line2 = pd.concat([line2, lambdaQ], axis=1)

line2 = pd.concat([line2, pd.DataFrame(np.zeros((nq,1)))], axis=1)

line2 = pd.concat([line2, pd.DataFrame(np.ones((nq,1)))], axis=1)
line2 = pd.concat([line2, 2*pd.DataFrame(np.ones((nq,1)))], axis=1)
line2 = pd.concat([line2, 3*pd.DataFrame(np.ones((nq,1)))], axis=1)
line2 = pd.concat([line2, 2*pd.DataFrame(np.ones((nq,1)))], axis=1)
line2 = pd.concat([line2, pd.DataFrame(np.ones((nq,1)))], axis=1)

line2

,0,0,0,0,0,0,0,0,0,0,0
0,q1_loading,2*q1_loading,3*q1_loading,2*q1_loading,q1_loading,0.0,1.0,2.0,3.0,2.0,1.0
1,q2_loading,2*q2_loading,3*q2_loading,2*q2_loading,q2_loading,0.0,1.0,2.0,3.0,2.0,1.0

In [70]:
line1.columns = list(range(0,line1.columns.shape[0]))
line2.columns = list(range(0,line2.columns.shape[0]))

Z = pd.concat([line1,line2], axis=0, ignore_index=True)
Z

,0,1,2,3,4,5,6,7,8,9,10
0,data1_loading,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
1,data2_loading,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
2,data3_loading,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
3,q1_loading,2*q1_loading,3*q1_loading,2*q1_loading,q1_loading,0.0,1.0,2.0,3.0,2.0,1.0
4,q2_loading,2*q2_loading,3*q2_loading,2*q2_loading,q2_loading,0.0,1.0,2.0,3.0,2.0,1.0

## B Matrix